// _common.scss
body,html{margin:0;}
h1,h2,h3,figure,p{margin:0;}
ul,li{list-style-type: none; margin:0; padding:0}
img{vertical-align: middle;}
*{
    box-sizing: border-box;
    color:#555;
}
a{text-decoration: none;}