// s-basic.scss
$red : #f00;
@mixin dis{
    display: flex;
    justify-content: space-between;
}

.gallery{
    width:1040px; margin:0 auto;
    h2{
        text-align: center;
        color:$red;
    }
    div{
        border:1px solid $red;
        @include dis;
        figure{
            margin:0;
            width:32%;
            overflow:hidden;

            img{width:100%; transition: .5s;}
            &:hover img{transform: scale(1.3);}
        }
    }
}

@import '_max768';




  